snippet cc "Multiline Comment Block"
/**
 * $1
*/
$0
endsnippet

snippet td "TODO comment" b
// ${1:TODO}: `date +%y\/%m\/%d\ %H:%M:%S` - ${2:`echo $USER`} : ${3:description}$0
endsnippet

snippet cl "console log"
console.log("$1", $1$2);$0
endsnippet

snippet us "use strict" b
"use strict";$0
endsnippet

snippet func "function"
function ${2: name}(${3: parameters}) {
	$4
}
$0
endsnippet
